@use "./colors" as *;
@use "./typography" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  height: 100%;
}

body {
  background-color: #fff;
  font-family: "Gabriela", serif;
  position: relative;
  font-size: 15px;
  line-height: 22px;
  color: #333;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;

  @media (max-width: 460px) {
    padding: 0;
    padding-top: 50px;
  }
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #e7e6e6 #ffffff;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #ffffff;
}

*::-webkit-scrollbar-track:hover {
  background-color: #ffffff;
}

*::-webkit-scrollbar-track:active {
  background-color: #ffffff;
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #e0dede;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #d4d2d2;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #c9c4c4;
}
