@use "../global/boilerplate" as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  background-color: rgb(238, 233, 233);
  display: flex;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

  &.scrolled {
    animation: shrinkHeader 0.7s ease;

    .header-cont {
      .logo {
        .header-logo {
          max-height: 40px;
        }
      }
    }
  }

  &:not(.scrolled) {
    animation: expandHeader 0.4s ease;
  }

  @keyframes shrinkHeader {
    from {
      height: 100px;
    }
    to {
      height: 40px;
    }
  }

  @keyframes expandHeader {
    from {
      height: 40px;
    }
    to {
      height: 100px;
    }
  }

  @media (min-width: 1200px) {
    padding-left: 30px;
  }

  @media (max-width: 760px) {
    padding: 0;
    margin: 0;
    z-index: 1000;
  }

  .header-cont {
    display: flex;
    align-items: center;
    margin-left: 37rem;

    @media (max-width: 760px) {
      padding: 0;
      margin: 0;
      align-items: center;
      justify-content: center;
    }

    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 95px;

      @media (max-width: 760px) {
        display: none;
      }

      .header-logo {
        max-height: 9.5rem;
        display: block;
        cursor: pointer;
      }
    }

    .menu {
      padding-left: 10rem;
      font-size: 15px;
      line-height: 20px;
      font-weight: 400;
      display: flex;
      align-items: center;

      @media (max-width: 760px) {
        padding-left: 1rem;
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        .fas {
          font-size: 20px;
          color: #333;
          padding-left: 1rem;

          &:hover {
            color: #c32;
          }

          @media (min-width: 760px) {
            display: none;
          }
        }

        li {
          padding: 0 30px;

          @media (max-width: 760px) {
            padding: 14px;
          }

          a {
            display: block;
            font-size: 20px;
            font-weight: 500;
            text-decoration: none;
            color: #333;

            @media (max-width: 760px) {
              font-size: 15px;
              font-weight: 700;
            }

            &:hover {
              color: #c32;
              border-bottom: 2px solid #c32;
            }
          }
        }
      }
    }
  }
}
