@use "../global/boilerplate" as *;

.cart {
  background-color: #f9f9f9;
  display: flex;
  height: 100%;
  justify-content: center;

  .cart-content {
    margin: 40px 400px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    height: 50%;
    width: 100%;

    @media (max-width: 760px) {
      margin: 10px;
      padding: 10px;
      margin-bottom: 50px;
    }

    h2 {
      margin-bottom: 60px;

      @media (max-width: 760px) {
        margin-bottom: 20px;
      }
    }

    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      li {
        list-style-type: none;

        .cart-item-image {
          max-width: 200px;
          border-radius: 100%;
          max-height: 315px;
          width: auto;
        }
      }
    }

    .order-cont {
      .order-segment {
        position: relative;
        margin-bottom: 40px;
        line-height: 1.3;

        .error-message {
          position: absolute;
          top: 2;
          left: 0;
          color: #ff0000;
          font-size: 11px;
          font-weight: 700;
          text-transform: uppercase;
        }

        .delivery-form {
          width: 50%;
          border: 1px solid #c0c0c0;
          border-radius: 8px;
          padding: 15px;
          background: #fff;
          display: block;
          text-transform: none;
          line-height: normal;
          vertical-align: middle;
          color: #333;
          outline: none;
          font-family: "Roboto";
          font-size: 15px;
        }

        .delivery-phone-number {
          width: 175px;
          border: 1px solid #c0c0c0;
          border-radius: 8px;
          padding: 15px;
          background: #fff;
          display: block;
          text-transform: none;
          line-height: normal;
          vertical-align: middle;
          color: #333;
          outline: none;
          font-family: "Roboto";
          font-size: 22px;

          @media (max-width: 760px) {
            width: 50%;
            height: 40px;
          }
        }

        .delivery-time {
          width: 10%;
          border: 1px solid #c0c0c0;
          border-radius: 8px;
          padding: 15px;
          background: #fff;
          display: block;
          text-transform: none;
          line-height: normal;
          vertical-align: middle;
          color: #333;
          outline: none;
          font-family: "Roboto";
          font-size: 22px;
          cursor: pointer;

          @media (max-width: 760px) {
            width: 50%;
            height: 40px;
          }
        }

        .delivery-card-number {
          width: 165px;
          border: 1px solid #c0c0c0;
          border-radius: 8px;
          padding: 15px;
          background: #fff;
          display: block;
          text-transform: none;
          line-height: normal;
          vertical-align: middle;
          color: #333;
          outline: none;
          font-family: "Roboto";
          font-size: 15px;

          @media (max-width: 760px) {
            width: 38%;
            height: 40px;
          }
        }

        .delivery-expiration-form {
          width: 67px;
          border: 1px solid #c0c0c0;
          border-radius: 8px;
          padding: 15px;
          background: #fff;
          display: block;
          text-transform: none;
          line-height: normal;
          vertical-align: middle;
          color: #333;
          outline: none;
          font-family: "Roboto";
          font-size: 15px;

          @media (max-width: 760px) {
            width: 20%;
            height: 40px;
          }
        }

        .delivery-cvv {
          width: 55px;
          border: 1px solid #c0c0c0;
          border-radius: 8px;
          padding: 15px;
          background: #fff;
          display: block;
          text-transform: none;
          line-height: normal;
          vertical-align: middle;
          color: #333;
          outline: none;
          font-family: "Roboto";
          font-size: 15px;

          @media (max-width: 760px) {
            width: 16%;
            height: 40px;
          }
        }

        select {
          font-size: 20px;
        }

        label {
          margin-right: 15px;
        }
      }
    }

    button {
      margin-top: 15px;
      color: #c32;
      font-size: 1.7rem;
      font-weight: 100;
      border-radius: 10px;
      border: 2px solid #c32;
      box-sizing: border-box;
      background: transparent;
      padding: 8px 15px;
      cursor: pointer;
      text-decoration: none;

      &:hover {
        background: rgba($color: #c32, $alpha: 0.8);
        color: #fff;
        border: 2px solid rgba($color: #000000, $alpha: 0.5);
      }
    }
  }
}
